<h1>{{{title}}}</h1>
<h2 id="productId">{{{id}}}</h2>
<p>Descripcion: {{{description}}}</p>
<h4>Precio: ${{{price}}}</h4>
<h4>Categoria: {{{category}}}</h4>
<h5>Stock: {{{stock}}}</h5>

<button id="deleteProduct">Borrar producto</button>

<button>Agregar al carrito</button>

<a href="/api/products"><button>Volver a productos</button></a>


<div>
    <h2>Actualizar el producto (Solo para ADMIN)</h2>
    <form>
        <input type="text" name="title" id="title" placeholder="title...">
        <input type="text" name="description" id="description" placeholder="description...">
        <input type="text" name="code" id="code" placeholder="code...">
        <input type="number" name="price" id="price" placeholder="price...">
        <input type="number" name="stock" id="stock" placeholder="stock...">
        <input type="text" name="categoty" id="category" placeholder="category...">
        <button id="updateProduct">Actualizar</button>
    </form>
</div>




<script src="/js/product.js"></script>