<div>
  <h2>Rol: {{{user.rol}}}</h2>
  <h2>Nombre: {{{user.first_name}}}</h2>
  <h2>Apellido: {{{user.last_name}}}</h2>
  <h2>Edad: {{{user.age}}}</h2>
  <h2>Email: {{{user.email}}}</h2>
  <button id="logout">Cerrar sesion</button>
  <a href="/api/carts/{{{user.cart}}}"><button>Ir a carrito</button></a>
</div>
  <a href="/api/products"><button>Ir a productos</button></a>


<script src="/js/logout.js"></script>